<h1 class="toplaner">Lista super de {{persona.nombre}} {{persona.apellido}}</h1>

{{#if mostrarProductos}}
    <ul>
        {{#each productos}}
        {{!-- <li>{{this}}</li> --}}
        <li class={{this.estilo}}> {{this.name}} </li>
        {{/each}}
        {{!-- <li>Mate</li>
        <li>Cafe</li>
        <li>Harina</li>
        <li>Leche</li> --}}
    </ul>
{{else}}
    <p>No te muestro nada</p>
{{/if}}


